html
    head
        title MagicBot
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    body.container
        h1 Insert here the cards
        form(method='post', action='/')
            textarea(rows='8', cols='50', name="cards", autofocus, placeholder="Insert card names here")
            br
            input.btn(type='submit', value='search')
        h1 The results
        div.jumbotron
            unless results.ok
                p.alert.alert-danger ERROR
            else
                p You searched for #{results.name}
                ul.list-group
                    each val in results.prices
                        li.list-group-item=val
